*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Poppins', sans-serif;

    background:#faf5ff;

    color:#1e1b4b;

}


a{

    text-decoration:none;

}


button,
input,
textarea,
select{

    font-family:inherit;

}