.admin-layout{

min-height:100vh;

background:#faf5ff;

}



.admin-content{

margin-left:260px;

padding:40px;

}



.admin-content h1{

font-size:38px;

color:#6d28d9;

}



.admin-content p{

color:#64748b;

}




.admin-cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:35px;

}



.admin-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 25px rgba(0,0,0,0.08);

}



.admin-card h2{

font-size:40px;

color:#6d28d9;

}



.recent-box{

margin-top:40px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,0.08);

}



@media(max-width:900px){


.admin-cards{

grid-template-columns:1fr;

}


.admin-content{

margin-left:0;

}

}