.manage-layout{

min-height:100vh;

background:#faf5ff;

}



.manage-users-page{

margin-left:260px;

padding:40px;

}



.manage-users-page h1{

font-size:38px;

color:#6d28d9;

margin-bottom:10px;

}


.manage-users-page p{

color:#64748b;

margin-bottom:30px;

}



.user-table{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,0.08);

}



table{

width:100%;

border-collapse:collapse;

}



th{

text-align:left;

padding:15px;

color:#6d28d9;

font-size:17px;

}



td{

padding:15px;

border-top:1px solid #eee;

color:#334155;

}



.role{

background:#ede9fe;

color:#6d28d9;

padding:6px 15px;

border-radius:20px;

}



.delete-btn{

background:#ef4444;

color:white;

border:none;

padding:10px 18px;

border-radius:10px;

cursor:pointer;

}



.delete-btn:hover{

opacity:0.8;

}