.saved-layout{

min-height:100vh;

display:flex;

background:#FAF5FF;

font-family:"Poppins",sans-serif;

}



.saved-page{

margin-left:270px;

width:calc(100% - 270px);

padding:40px;

}



.saved-header{

margin-bottom:35px;

}



.saved-header h1{

font-size:34px;

color:#1E1B4B;

}



.saved-header p{

color:#666;

}



.saved-list{

display:flex;

flex-direction:column;

gap:20px;

}



.saved-card{

background:white;

padding:25px;

border-radius:20px;

display:flex;

justify-content:space-between;

align-items:center;


box-shadow:
0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}



.saved-card:hover{

transform:translateY(-5px);

}



.saved-card h2{

color:#6D28D9;

}



.saved-card p{

color:#666;

}



.remove-btn{

background:#EF4444;

color:white;

border:none;

padding:12px 25px;

border-radius:25px;

font-weight:600;

cursor:pointer;

}



.remove-btn:hover{

transform:translateY(-3px);

opacity:.9;

}



@media(max-width:900px){

.saved-page{

margin-left:80px;

width:calc(100% - 80px);

padding:25px;

}


.saved-card{

flex-direction:column;

align-items:flex-start;

gap:20px;

}


.remove-btn{

width:100%;

}

}