/* ===========================
NAVBAR
=========================== */

.navbar{
    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;

    background:#ffffff;

    position:sticky;
    top:0;

    z-index:999;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-icon{
    font-size:32px;
}

.logo h2{
    color:#6D28D9;
    font-size:30px;
    font-weight:700;
}

/* Links */

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#1E1B4B;
    font-size:17px;
    font-weight:600;
    transition:.3s;
}

.nav-links a:hover{
    color:#EC4899;
}

/* Right */

.nav-buttons{
    display:flex;
    align-items:center;
    gap:15px;
    flex-direction:row;
}

.icon{
    font-size:20px;
    color:#6D28D9;
    cursor:pointer;
    transition:.3s;
}

.icon:hover{
    color:#EC4899;
    transform:scale(1.15);
}

.profile{
    font-size:30px;
    color:#6D28D9;
    cursor:pointer;
}

/* Buttons */
.login-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 48px;

    border-radius: 30px;
    text-decoration: none;

    background: linear-gradient(90deg,#6D28D9,#EC4899);
    color: #fff;
    font-weight: 600;
}

.signup-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 48px;

    border-radius: 30px;
    text-decoration: none;

    background: linear-gradient(90deg,#6D28D9,#EC4899);
    color: #fff;
    font-weight: 600;
}
/* ===========================
Responsive
=========================== */

@media(max-width:992px){

.nav-links{
    display:none;
}

.login-btn,
.signup-btn{
    display:none;
}

.navbar{
    padding:0 20px;
}

}