.stats-section{

margin:30px;

}


.stats-section h2{

font-size:28px;

margin-bottom:25px;

color:#333;

}



.stats-container{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.stats-card{

background:white;

padding:25px;

border-radius:20px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 8px 20px rgba(0,0,0,0.08);

transition:0.3s;

}



.stats-card:hover{

transform:translateY(-5px);

}



.stats-icon{

font-size:40px;

}



.stats-card h3{

font-size:28px;

color:#6c5ce7;

margin:0;

}



.stats-card p{

color:#777;

margin-top:5px;

}