.hero{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

margin:30px;

padding:40px;

border-radius:20px;

}



.hero-text{

width:50%;

}



.hero-text h1{

font-size:40px;

color:#6c5ce7;

margin-bottom:15px;

}



.hero-text p{

font-size:18px;

color:#555;

margin-bottom:25px;

}



.hero-text button{

background:#6c5ce7;

color:white;

border:none;

padding:14px 30px;

border-radius:25px;

font-size:16px;

}



.hero-image img{

width:350px;

height:230px;

object-fit:cover;

border-radius:20px;

}