dir routes.trending{

    padding:30px;

}


.trending h2{

    color:#1e293b;
    margin-bottom:25px;

}


.trending-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

}


.trend-card{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s ease;

}


.trend-card:hover{

    transform:translateY(-10px);

}


.trend-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}


.trend-info{

    padding:20px;

}


.trend-info h3{

    color:#6C63FF;

    margin-bottom:10px;

}


.trend-info p{

    color:#64748b;

    margin:8px 0;

}


.trend-info button{

    width:100%;

    margin-top:15px;

    padding:12px;

    border:none;

    border-radius:10px;

    background:#6C63FF;

    color:white;

    cursor:pointer;

    transition:0.3s;

}


.trend-info button:hover{

    background:#5548ff;

}